# 5.2.1 데이터 추가 처리

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_csv('./dataset/crab2.csv')
df.shape

(199848, 10)

In [2]:
df.head(10)

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,0,M,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,노게
1,1,I,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,노게
2,2,F,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,노게
3,3,I,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,성게
4,4,I,1.1375,0.8750,0.2875,14.968536,5.953395,2.962523,3.713785,성게
5,5,F,1.4875,1.1875,0.4000,28.335325,12.048538,7.668540,8.504850,노게
6,6,M,1.5250,1.1875,0.4375,31.581343,11.382324,7.980384,9.213587,노게
7,7,M,1.6250,1.2875,0.4375,42.212406,17.704263,8.660772,11.339800,노게
8,8,M,1.3375,1.0500,0.3875,23.090668,12.048538,4.379998,6.038443,성게
9,9,F,1.3375,1.0125,0.3375,18.313777,8.944267,4.195726,5.953395,노게

In [3]:
df.dtypes

id                  int64
Sex                object
Length            float64
Diameter          float64
Height            float64
Weight            float64
Shucked Weight    float64
Viscera Weight    float64
Shell Weight      float64
Age                object
dtype: object

In [4]:
df['Age'].value_counts(dropna=False)   # 개수 기준 분포 구하기

노게    100575
성게     99273
Name: Age, dtype: int64

In [5]:
# 참조 코딩
df['Age'].value_counts(dropna=False, normalize=True)   # 분포 기준 분포 구하기

노게    0.503257
성게    0.496743
Name: Age, dtype: float64

In [6]:
# 범주형 변수를 cols1에 저장
cols1 = ['Sex']
df1 = df[cols1]   # 범주형 변수만 모은 cols1로 구성된 데이터프레임 df1을 생성

# 데이터프레임 df1안의 컬럼명을 순차적으로 value_counts() 구문에 넣어서 결과 출력
for col in df1.columns:
    print ("") 
    print ("---- %s ---" % col)
    print (df[col].value_counts(dropna=False, normalize=True))

---- Sex ---
M    0.361585
I    0.332713
F    0.305702
Name: Sex, dtype: float64

In [7]:
# 참조 코딩
list(df.columns)

['id',
 'Sex',
 'Length',
 'Diameter',
 'Height',
 'Weight',
 'Shucked Weight',
 'Viscera Weight',
 'Shell Weight',
 'Age']

In [13]:
df_dummy = pd.get_dummies(df)

In [ ]:
df.drop()

In [14]:
df_dummy.head(4)

,id,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Sex_I,Sex_M,Age_성게
0,0,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,0,1,0
1,1,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,1,0,0
2,2,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,0,0,0
3,3,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,1,0,1

In [126]:
# # 노게 : 0     성게 :1
# from sklearn.preprocessing import LabelEncoder   # OrdinalEncoder를 import
# df['Age'] = LabelEncoder().fit_transform(df['Age'])

In [128]:
# # F:0 , I:1,  M :2
# from sklearn.preprocessing import LabelEncoder   
# df['Sex'] = LabelEncoder().fit_transform(df['Sex'])

In [129]:
# 타겟 변수보다는 범주형 feature 열을 인코딩할때 사용
# from sklearn.preprocessing import OrdinalEncoder   # OrdinalEncoder를 import
# df['Age'] = OrdinalEncoder().fit_transform(df['Age'].values.reshape(-1,1))

In [130]:
# df['Age_1'] = OrdinalEncoder().fit_transform(df['Age'].values.reshape(-1,1))
# df.groupby(['Age_1', 'Age']).size()   # 변경전후 변수값 비교표를 출력

In [16]:
df_dummy.columns

Index(['id', 'Length', 'Diameter', 'Height', 'Weight', 'Shucked Weight',
       'Viscera Weight', 'Shell Weight', 'Sex_I', 'Sex_M', 'Age_성게'],
      dtype='object')

In [17]:
# # drop(inplace=True)가 있는 구문은 한 번만 실행할 수 있습니다.
# # 두번째 실행하면 이미 특정 변수명이 drop된 상태여서 에러를 발생합니다.
# df.drop(['id','Age'],
#         axis=1, inplace=True)

In [22]:
df_dummy.shape

(199848, 11)

In [23]:
df_dummy.isna().any()[lambda x: x]   # null value를 갖고 있는 변수명(컬럼명) 찾기

Series([], dtype: bool)

In [24]:
df_dummy['Length'].isnull().sum()       # bmi의 결측값 개수 확인

0

In [26]:
df_dummy.to_csv('./dataset/crab3.csv', index=False)